@charset "UTF-8";
.presentation, .lasso, .refs .background, .circles, .contact_text, .divAsso, a.contact{
    opacity:0;
}

.refs ul.circles .ref_overlay,
.refs ul.circles .ref_overlay2{
    width:0;
    height:0;
    overflow:hidden;
    background-size:0;
    margin-left:38px;
    margin-top:38px;
}

.others,
.contenu_services{
    max-height:0;
    overflow:hidden;
}

.circles{
    opacity:1;
}

.contact .background,
a.contact,
.circles .name{
    max-width:0;
}


.anim .contact .page_wrapper {
    -moz-transition-property:left;
    -moz-transition-duration:0.3s;
    -webkit-transition-property:left;
    -webkit-transition-duration:0.3s;
    -o-transition-property:left;
    -o-transition-duration:0.3s;
    -ms-transition-property:left;
    -ms-transition-duration:0.3s;
    left:0;
}

.out .contact .page_wrapper,
.contact .page_wrapper {
    left:-200px;
}

.out .contact .page_wrapper {
    -moz-transition-delay:1s;
    -webkit-transition-delay:1s;
    -o-transition-delay:1s;
    -ms-transition-delay:1s;
}


.anim a.contact{
    -moz-transition-property:opacity, max-width, color;
    -moz-transition-duration:0.4s, 0.4s;
    -moz-transition-delay:0.1s, 0.4s;
    -webkit-transition-property:opacity, max-width, color;
    -webkit-transition-duration:0.4s, 0.4s;
    -webkit-transition-delay:0.1s, 0.4s;
    -o-transition-property:opacity, max-width, color;
    -o-transition-duration:0.4s, 0.4s;
    -o-transition-delay:0.1s, 0.4s;
    -ms-transition-property:opacity, max-width, color;
    -ms-transition-duration:0.4s, 0.4s;
    -ms-transition-delay:0.1s, 0.4s;
    overflow:hidden;
    max-width:200px;
    opacity:1;
    }
    
.anim .refs ul.circles li a .ref_overlay,
.anim .refs ul.circles li a .ref_overlay2{
    -moz-transition-property:opacity, width, height, background-size, margin;
    -moz-transition-duration:0.5s;
    -webkit-transition-property:opacity, width, height, background-size, margin;
    -webkit-transition-duration:0.5s;
    -o-transition-property:opacity, width, height, background-size, margin;
    -o-transition-duration:0.5s;
    -ms-transition-property:opacity, width, height, background-size, margin;
    -ms-transition-duration:0.5s;
    width:77px;
    height:77px;
    background-size:77px;
    margin:0;
}

.anim .refs .background,
.anim .lasso,
.anim .presentation,
.anim .contact_text,
.anim .divAsso{
    -moz-transition-property:opacity;
    -moz-transition-duration:0.5s;
    -moz-transition-delay:0.5s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.5s;
    -webkit-transition-delay:0.5s;
    -o-transition-property:opacity;
    -o-transition-duration:0.5s;
    -o-transition-delay:0.5s;
    -ms-transition-property:opacity;
    -ms-transition-duration:0.5s;
    -ms-transition-delay:0.5s;
    opacity:1;
}

.anim .refs .background{
    -moz-transition-delay:0.1s;
    -webkit-transition-delay:0.1s;
    -o-transition-delay:0.1s;
    -ms-transition-delay:0.1s;
}

.anim .blueRect{
    -moz-transition-property:top;
    -moz-transition-duration:0.2s;
    -moz-transition-delay:0.1s;
    -webkit-transition-property:top;
    -webkit-transition-duration:0.2s;
    -webkit-transition-delay:0.1s;
    -o-transition-property:top;
    -o-transition-duration:0.2s;
    -o-transition-delay:0.1s;
    -ms-transition-property:top;
    -ms-transition-duration:0.2s;
    -ms-transition-delay:0.1s;
}

.anim .others,
.anim .contenu_services{
    max-height:300px;
    -moz-transition-property:max-height;
    -moz-transition-duration:0.7s;
    -webkit-transition-property:max-height;
    -webkit-transition-duration:0.7s;
    -o-transition-property:max-height;
    -o-transition-duration:0.7s;
    -ms-transition-property:max-height;
    -ms-transition-duration:0.7s;
}

.anim .circles .name,
.anim .contact .background{
    max-width:200px;
    -moz-transition-property:max-width;
    -moz-transition-duration:0.5s;
    -moz-transition-delay:0.5s;
    -webkit-transition-property:max-width;
    -webkit-transition-duration:0.5s;
    -webkit-transition-delay:0.5s;
    -o-transition-property:max-width;
    -o-transition-duration:0.5s;
    -o-transition-delay:0.5s;
    -ms-transition-property:max-width;
    -ms-transition-duration:0.5s;
    -ms-transition-delay:0.5s;
}


.out .circles .name{
    max-width:0;
    -moz-transition-delay:0.1s;
    -webkit-transition-delay:0.1s;
    -o-transition-delay:0.1s;
    -ms-transition-delay:0.1s;
}




.out .refs ul.circles li a div.ref_overlay,
.out .refs ul.circles li a div.ref_overlay2{
    width:0;
    height:0;
    overflow:hidden;
    background-size:0;
    margin-left:38px;
    margin-top:38px;
}

.out .others,
.out .contenu_services{
    max-height:0;
    opacity:1;
}

.out a.contact{
    max-width:0;
    opacity:0;
}

.out .presentation, .out .lasso, .out .refs .background, .out .contact_text, .out .divAsso{
    opacity:0;
}

.out .circles .ref_img{
    visibility:hidden;
}


.anim .contact .background {
    max-width:400px;
    -moz-transition-delay:0.2s;
    -webkit-transition-delay:0.2s;
    -o-transition-delay:0.2s;
    -ms-transition-delay:0.2s;
}

.out .contact .background {
    max-width:0;
    -moz-transition-delay:0.8s;
    -webkit-transition-delay:0.8s;
    -o-transition-delay:0.8s;
    -ms-transition-delay:0.8s;
}
